@import "./vendor/normalize";
@import "./partials/mixins";
@import "./partials/colors";
@import "./partials/typography";

// Medium Displays
@media (min-width: 768px) {
  /*.container {
    display: flex;
    color: $C1;
  }
}
    .container {
    display: inline-flex;
  }
}*/
// Large Displays
@media (min-width: 1024px) {
  .container {
    text-align: center;
    color: $C2;
  }
}
header {
  padding: 50px 50px 50px 50px;
  background-color: $C3;
  }
h1 {
  display: inline;
  font-family: $F1;
}
h2 {
  display: inline;
  font-family: $F1;
}
nav {
  ul {
    padding: 10px;
    margin: 10px;
    list-style: none;
    font-family: $F1;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    text-decoration: none;
    @include mbtn();
  }
}
section {
  padding: 50px;
  margin: 20px;
  background-color: $C4;
  border: 2px solid $C1;
  border-radius: 50px;
  @include shadow(10px 10px 50px);
}
p {
  font-family: $F2;
}
img {
  border: 2px dotted $C1;
  opacity: 0.50;
  @include shadow(10px 10px 2px);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  }
.grid-item {
  padding: 10px;
  }
footer {
  padding: 10px;
  background-color:$C2;
  color: $C4;
  }

//Class Example (11/11/202)
//Parent
.flex-block {
  width: 700px;
  height: 500px;
  background-color: #c1c1c1;
  display: flex; //important.
  //flex-direction: row;
  //flex-wrap: wrap;
  //flex-flow: row wrap; //Both direction and wrap
  //justify-content: center;
  //align-items: center;
  //align-content: center;
}

.E1 {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-color: #741717;
  display: flex;
  justify-content: center;
}
.E2 {
  width: 100px;
  height: 100px;
  background-color: #310303;
  flex-grow: 2;
}
.E3 {
  width: 100px;
  height: 100px;
  background-color: #e96d6d;
  color: white;
  order: 2;
}
}